In [2]:
import pandas as pd

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
fichero = "2021_Accidentalidad.csv"

data = pd.read_csv(fichero, sep=",", skiprows=2, names=range(4))

In [5]:
data

                                                       0   1   2   3
0      2021S000235;01/01/2021;23:05;AVDA. RAFAELA YBA... NaN NaN NaN
1      2021S000235;01/01/2021;23:05;AVDA. RAFAELA YBA... NaN NaN NaN
2      2021S000021;01/01/2021;22:57;CALL. BEMBIBRE / ... NaN NaN NaN
3      2021S000021;01/01/2021;22:57;CALL. BEMBIBRE / ... NaN NaN NaN
4      2021S000021;01/01/2021;22:57;CALL. BEMBIBRE / ... NaN NaN NaN
...                                                  ...  ..  ..  ..
18982  2021S011943;30/06/2021;4:25;CALL. GRAN VIA;68;... NaN NaN NaN
18983  2021S011802;30/06/2021;1:45;AVDA. ABRANTES / C... NaN NaN NaN
18984  2021S011802;30/06/2021;1:45;AVDA. ABRANTES / C... NaN NaN NaN
18985  2021S011802;30/06/2021;1:45;AVDA. ABRANTES / C... NaN NaN NaN
18986  2021S011800;30/06/2021;0:35;CALL. OCA;23;CARAB... NaN NaN NaN

[18987 rows x 4 columns]

In [8]:
data[0].values

array(['2021S000235;01/01/2021;23:05;AVDA. RAFAELA YBARRA / CALL. MARCELO USERA;-;USERA;Alcance;Se desconoce;Turismo;Conductor;DE 45 A 49 AÑOS;Hombre;;;;;',
       '2021S000235;01/01/2021;23:05;AVDA. RAFAELA YBARRA / CALL. MARCELO USERA;-;USERA;Alcance;Se desconoce;Turismo;Conductor;DE 40 A 44 AÑOS;Hombre;;;;;',
       '2021S000021;01/01/2021;22:57;CALL. BEMBIBRE / CALL. BACARES;-;HORTALEZA;Choque contra obstáculo fijo;;Turismo;Conductor;DE 21 A 24 AÑOS;Hombre;;;;;',
       ...,
       '2021S011802;30/06/2021;1:45;AVDA. ABRANTES / CALL. ALFONSO MARTINEZ CONDE;-;CARABANCHEL;Colisión fronto-lateral;Despejado;Turismo;Conductor;DESCONOCIDA;;;;;;',
       '2021S011802;30/06/2021;1:45;AVDA. ABRANTES / CALL. ALFONSO MARTINEZ CONDE;-;CARABANCHEL;Colisión fronto-lateral;Despejado;Turismo;Conductor;DESCONOCIDA;;;;;;',
       '2021S011800;30/06/2021;0:35;CALL. OCA;23;CARABANCHEL;Caída;Despejado;Otros vehículos con motor;Conductor;DE 21 A 24 AÑOS;Hombre;03;;;;'],
      dtype=object)